*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build/
node_modules/
package-lock.json
hooks/
plugins/
!plugins/.gitignore
!plugins/fetch.json
!plugins/ios.json
!plugins/android.json
!plugins/osx.json
platforms/
!platforms/osx/.gitignore
!platforms/osx/ios.json
!platforms/android/.gitignore
!platforms/android/android.json
!platforms/ios/.gitignore√
!platforms/ios/osx.json
