*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build/
node_modules/
platforms/ios/
platforms/android
platforms/osx
package-lock.json
hooks/
plugins/
!plugins/fetch.json
!plugins/ios.json
!plugins/android.json
!plugins/osx.json
#platforms/
#!platforms/ios/ios.json
#!platforms/ios/.gitigonre
#!platforms/android/android.json
#!platforms/android/.gitigonre
#!platforms/osx/osx.json
#!platforms/osx/.gitigonre